<div class="trip-status-table">
  <div class="section-title">
    <ion-icon name="checkbox-outline"></ion-icon>
    <span>Trip Status</span>
    <span class="big-count green">{{ total }}</span>
  </div>

  <div class="table-list">
    @for(t of vehicles; track t.vehNo){
      <div class="table-row">
        <span class="col veh">{{ t.vehNo }}</span>
        <span class="col ofd" [ngClass]="t.statusColor">{{ t.ofdStatus }}</span>
        <span class="col time">{{ t.lastUpdated }}</span>
        <span class="col loc"><ion-icon name="location"></ion-icon></span>
      </div>      
    }
  </div>
</div>
